.container {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }

  .fullWidth {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  .bot {
    text-align: center;
  }
mat-list-item{
    width: 100%;
    text-align: justify;
}
  mat-grid-tile {
    background: lightblue;
    cursor: pointer;
  }

  mat-grid-tile:hover {
    background: powderblue;
  }
  .section {
    margin-bottom: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
 }
  mat-form-field {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    width: 100%;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .edit {
    color: rgb(0, 153, 255);
  }
  
  .add{
    color: rgb(32, 131, 56);
  }
  .delete {
    color: red;
  }
  
  .deletebtn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  .img-Table {
    display: block;
    width: auto;
    height: 70px;
  }

  .img-Table:hover {transform: scale(1.1); cursor: zoom-in;}

  .Exclusao {
    background-color: black;
    opacity: 70%;
    z-index: 100;
    margin-top: -10%;
    width: 100%;
    height: 112.3%;
    position: fixed;
  }

  .CardBox {
    z-index: 101;
    position: fixed;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 250px;
    background: white;
    border-radius: 15px;
  }

  .Texto {
    position: relative;
    margin-top: 60px;
    padding-bottom: 50px;
    border-bottom: 2px solid lightgrey;
  }

  @keyframes apareceTexto {
    from {
      opacity: 0%;
    }
    
    to {
      opacity: 100%;
    }
    
  }

  @keyframes apareceBack {
    from {
      opacity: 0%;
    }
    
    to {
      opacity: 70%;
    }
    
  }

  @keyframes someTexto {
    from {
      opacity: 100%;
    }
    
    to {
      opacity: 0%;
    }
  }

  @keyframes someBack {
    from {
      opacity: 70%;
    }
    
    to {
      opacity: 0%;
    }
  }