<div class="container mat-elevation-z8">
  <form class="form" #cadastroUsuario="ngForm" (ngSubmit)="onSubmit(cadastroUsuario.value)" enctype="multipart/form-data">
    <h1 class="fullWidth">Cadastrar Usuário</h1>
    <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="Help Desk - Dicas de um DEV" />

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Login</mat-label>
      <input name="nome" ngModel required matInput placeholder="Ex.. macorattiadm" maxlength="50" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Senha</mat-label>
      <input name="senha" ngModel required [type]="hide ? 'password' : 'text'" matInput placeholder="Ex.. Senh@123" />
      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Tipo</mat-label>
      <select ngModel name="role" matNativeControl required>
        <option value="1">Admin</option>
        <option value="2">Operador</option>
      </select>
    </mat-form-field>

    <button type="submit" class="fullWidth mat-elevation-z4" mat-flat-button [ngStyle]="{ 'background-color': corBotao }" [disabled]="IsDisabled">Cadastrar</button>
    <button routerLink="/listusers" class="fullWidth mat-elevation-z4" mat-stroked-button>Cancelar</button>
  </form>

  <p class="fullWidth">{{ copyright }}</p>
</div>
