<div class="Exclusao" [style.display]="DisplayBack" [style.animation]="AnimacaoBack">
</div>

<div class="CardBox" [style.display]="DisplayCard" [style.animation]="AnimacaoCard">
  <h1 class="Texto">Tem Certeza Que Deseja Fazer <br> A Exclusão Desse Registro?</h1>
  <button class="ConfirmarExclu"
  mat-stroked-button
   [disabled]="IsDisabled"
   (click) = "deletar(codigoExclu)"
   >Confirmar</button>

  <button class="CancelarExclu"
  mat-stroked-button
  (click)="Cancelar()" [disabled]="IsDisabled">
  Cancelar
  </button>
</div>

<div class="container">
  <h1>Cadastro De Grupos</h1>

  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. diego importações"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="grupo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let element">{{ element.grupo }}</td>
      </ng-container>

      <ng-container matColumnDef="deS_">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.deS_ }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/updategrupo/{{ element.grupo }}">
            <i class="material-icons edit">edit</i>
          </a>
          <button class="deletebtn" (click)="ApareceCard(element.grupo)">
            <i class="material-icons delete">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 2, 10, 20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>

    <button
      routerLink="/creategrupo"
      class="mat-elevation-z8"
      [ngStyle]="{'background-color': corBotao}"
      mat-stroked-button>
      Novo grupo
    </button>
  </div>
</div>
