<div class="Exclusao" [style.display]="DisplayBack" [style.animation]="AnimacaoBack">
</div>

<div class="CardBox" [style.display]="DisplayCard" [style.animation]="AnimacaoCard">
  <h1 class="Texto">Tem Certeza Que Deseja Fazer <br> A Exclusão Desse Registro?</h1>
  <button class="ConfirmarExclu"
  mat-stroked-button
   [disabled]="IsDisabled"
   (click) = "deletar(codigoExclu)"
   >Confirmar</button>

  <button class="CancelarExclu"
  mat-stroked-button
  (click)="Cancelar()" [disabled]="IsDisabled">
  Cancelar
  </button>
</div>

<div class="container">
  <h1>Cadastro De Clientes</h1>

  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. diego importações"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cic">
        <th mat-header-cell *matHeaderCellDef>CPF / CNPJ</th>
        <td mat-cell *matCellDef="let element">{{ element.cic }}</td>
      </ng-container>

      <ng-container matColumnDef="rg">
        <th mat-header-cell *matHeaderCellDef>RG / I.E</th>
        <td mat-cell *matCellDef="let element">{{ element.rg }}</td>
      </ng-container>

      <ng-container matColumnDef="fone1">
        <th mat-header-cell *matHeaderCellDef>Fone</th>
        <td mat-cell *matCellDef="let element">{{ element.fonE1 }}</td>
      </ng-container>

      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox [(ngModel)]="element.ativo" disabled></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/updatecliente/{{ element.codigo }}">
            <i class="material-icons edit">edit</i>
          </a>
          <button class="deletebtn" (click)="ApareceCard(element.codigo)">
            <i class="material-icons delete">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 2, 10, 20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>

    <button
    routerLink="/createcliente"
    class="mat-elevation-z8"
    [ngStyle]="{'background-color': corBotao}"
    mat-stroked-button>
    Novo cliente
   </button>
  </div>
</div>
